/* ユーザー側 */
body {
  margin: 0 auto;
}

.container,
.category-container {
  max-width: 1440px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h2,
h4 {
  color: #233026;
  text-align: center;
  font-style: normal;
  font-weight: 200;
}

.title {
  font-size: 48px;
}


h3 {
  color: #233026;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
}

p,
label {
  color: #233026;
}

/* ユーザー認証 */
.auth-title {
  font-size: 36px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}

label {
  font-size: 16px;
  text-align-last: left;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  text-align: center;
}

.auth-title {
  margin-bottom: 20px;
}

.auth-form {
  height: 32px;
  font-size: 16px;
}

.form-section {
  width: 100%;
  max-width: 400px;
}

/* 管理者側 */
.admin-container {
  margin-left: 250px;
  margin-top: 160px;
  color: #233026;
}

.admin-title {
  color: #233026;
  text-align: center;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  margin: 0;
}

.admin-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 160px);
  margin: 0 auto;
  margin-bottom: 60px;
}

.admin-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 160px);
  margin: 0 auto;
}
