.product-list-container {
  display: flex;
  justify-content: center;
  margin: 30px 0 80px;
}

.product-grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 30px 45px;
  flex-wrap: wrap;
}

.product-card {
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.product-card img {
  max-width: 100%;
  height: auto;
  background-color: #eee;
  object-fit: cover;
}

.product-card h3 {
  margin: 0;
  font-size: 1.2em;
}

.product-card:hover {
  transform: scale(1.05);
}

.button-container {
  margin: 30px 0 80px 0;
  display: flex;
  justify-content: center;
  gap: 80px;
}

/* .view-all-button {
  width: 362px;
  height: 48px;
  border-radius: 24px;
  background-color: #d4daaa;
  font-size: 24px;
  font-weight: 200;
  color: #f1f3ef;
  cursor: pointer;
  border: none;
} */

/* .view-all-button:hover {
  background-color: #c7cf8b;
} */
