.register-container {
  width: 100%;
  max-width: 400px;
  text-align: left;
  font-size: 16px;
}

.register-link {
  color: #233026;
  text-decoration: none;
  display: block;
  text-align: left;
}

.register-link:hover {
  text-decoration: underline;
}
