.register-container {
  width: 100%;
  text-align: left;
  font-size: 16px;
  margin-bottom: 30px;
}

.register-link {
  color: #233026;
  text-decoration: none;
  display: block;
  text-align: left;
}

.register-link:hover {
  text-decoration: underline;
}
